*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.parte1{
    width:100%;
    height:80vh;
    background-image:url("../images/Fondo.png");
    background-size:cover;
    background-position:center;
    position:relative;
}

.nav{
    width:100%;
    height:120px;
    background:rgba(89, 88, 88, 0.9);
    display:flex;
    justify-content:space-between;
    align-items:center; 
    padding:0 60px;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

.logo span{
    color:#4FC3F7; 
}

.menu a{
    text-decoration:none;
    color:white;
    margin-left:30px;
    font-size:14px;
    padding:8px 15px;
}

.menu a.activo{
    border:1px solid #4FC3F7;
    color:#4FC3F7;
}

.contenido{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}

.frase{
    background:rgba(50,50,50,0.7);
    color:white;
    padding:15px 30px;
    font-size:22px;
    letter-spacing:2px;
}


.parteAzul{
    background-color:#4FC3F7;
    width:100%;
    padding:100px 10%;
    display:flex;
    justify-content: space-around;
    gap:40px;
}

.parteAzul_1{
    color: white;
    gap: 20px;
    margin-bottom: 15px;
}

.parteAzul_1 h3{
    font-size: 28px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.parteFotos{
    height: 70vh;
}

.parteFotos_1{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    color: rgb(90, 87, 87);
}

.nav2{
    display: flex;
    gap: 20px;
}
.nav2 a{
    display: flex;
    display: inline-block;
    padding: 8px 8px;
    text-decoration: none;
    color: rgb(90, 87, 87); 
}

.nav2 a.activo{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #4FC3F7;
    color:#4FC3F7;
}



.parteFotos_2{
    justify-content: center;
    align-items: center;
    height: 65%;
    margin-top: 70px;
    margin-left: 60px;
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 20px;
}

.parteFotos_2 img{
    width: 200px;
    height: 200px;
}

.num5{
    grid-row: 2/3;
    grid-column: 1/2; 
}

.JUST-DEFAULT{
    background:#4f5b61;
    padding:80px 0;
    color:white;
}

.contenedor{
    width:80%;
    margin:auto;
}

.default-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:60px;
}

.text-justDefault{
    width:50%;
}

.text-justDefault h2{
    font-weight:300;
    letter-spacing:2px;
    margin-bottom:20px;
}

.text-justDefault p{
    line-height:1.7;
    margin-bottom:20px;
}

.boton-visit{
    background:transparent;
    border:2px solid #2c3e46;
    color:white;
    padding:12px 25px;
    cursor:pointer;
}



.twitter {
    background-color: #4FC3F7;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 20%;
    gap: 15px;
}

.ft-twitter{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ft-twitter img {
    align-self: flex-end;
}

.twitter p span {
    font-size: 1.5rem;
}